body, html {
    margin: auto;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
  }

  /* Navbar styles */
  .navbar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
  }
  
  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 20px;
  }
  
  .navbar-brand {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-nav .nav-item {
    margin-left: 20px;
  }
  
  .navbar-nav .nav-link {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
  }
  
  .navbar-nav .nav-link:hover {
    background-color: #575757;
    border-radius: 4px;
  }

  .grid{
    margin: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .grid-item{
    display:inline-block;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 6px;
  }

  .grid-item img{
    width: 300px;
    height: 250px;
  }

  .grid-item button{
    width: 150px;
    height: 30px;
    color:rgb(54, 14, 186);
    background-color: #fff;
    border-color: #575757;
    border-left-color: #575757;
    border-right-color: #575757;
  }

  .grid-item p{
    margin-right: 20px;
  }

  .grid-item button:hover{
    background-color: rgb(54, 14, 186);
    color: #fff;
  }

  .grid-item:hover{
    transform: translateY(-10px);
  }